FRONTEND_HOST=http://localhost:5173
ENVIRONMENT=local
BACKEND_CORS_ORIGINS=http://localhost,http://localhost:5173,https://localhost,https://localhost:5173

SECRET_KEY=changethis
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=changethis

SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=info@example.com
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587

POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis

SENTRY_DSN=

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=product-images
ML_MINIO_SHELF_BUCKET_NAME=session-images
ML_MINIO_SCALE_BUCKET_NAME=scale-images
ML_MINIO_EXTERNAL_BUCKET_NAME=uploaded-images
ML_MINIO_TRAINING_BUCKET_NAME=training-data
ML_MINIO_LABELSTUDIO_EXPORT_BUCKET_NAME=labelstudio-exports
MINIO_PUBLIC_URL=http://localhost:9000
MINIO_USE_SSL=false

MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_SERVER_ALLOWED_HOSTS=mlflow:5000,localhost:5000,localhost:5002,127.0.0.1:5000,127.0.0.1:5002
MLFLOW_REGISTERED_MODEL_NAME=self-checkout-classifier
MLFLOW_SHELF_EXPERIMENT_NAME=self-checkout-shelf-classifier
MLFLOW_SHELF_MODEL_NAME=self-checkout-shelf-classifier
MODEL_CACHE_DIR=.cache/model_store
LABEL_STUDIO_URL=http://label-studio:8080
LABEL_STUDIO_USERNAME=admin@example.com
LABEL_STUDIO_PASSWORD=changethis
LABEL_STUDIO_API_KEY=changethis-api-key
LABEL_STUDIO_SCALE_PROJECT_TITLE=scale-products
LABEL_STUDIO_SHELF_PROJECT_TITLE=shelf-products
LABEL_STUDIO_EXTERNAL_PROJECT_TITLE=external-products

DOCKER_IMAGE_BACKEND=backend
DOCKER_IMAGE_ML=ml
TAG=latest
